*{ margin: 0;
border: border-box;
font-family: Arial;}

.navbar
 { height: 60px;
   background-color: #0f1111; 
   color: white;
   display: flex;
   align-items: center;
   width: 100%;
   height: 50px;
   
   justify-content: space-evenly;
}
.nav-logo 
{height: 50px;
width: 100px;}


.logo
{
  background-image: url("amazonlogo.png");
  background-size: cover;
height: 50px;
width: 100%;
}

.border
{border: 1.5px solid transparent;
}

.border:hover {
  border: 1.5px solid white ;
 
}

.add-first
{ color: #cccc;
  font-size: 0.85rem;
  margin-left: 15px;
  width: 100px;
  align-items: center;
  display: flex;
}
.add-sec {
  font-size: 1rem;
  margin-left: 3px;
  width: 100px;
  align-items: center;
  display: flex;
}
.add-icon
{
display: flex;
align-items: center;
}
/** box 3 **/

.nav-search
{
  display: flex ;
  justify-content: center;
  background-color: rgb(212, 125, 48);
  width: 520px;
  height: 40px;
  border-radius: 4px;
  border: none;
  
 

}

.nav-search:hover
{
  border: orange 3px solid;
}

.search-select
 {
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px ;
  border: none;

}
.search-input
{
  width: 100%;
  font-size: 1rem;
  border: none;
}


.search-icon
{
  width: 40px;
  display: flex;
justify-content: center;
align-items: center;
font-size: 1.2rem;
background-color: rgb(207, 161, 43);
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
color: #0f1111;
}
span {
  font-size: 0.7rem;
}
.nav-second
{
  font-size: o.85;
  font-weight: 700;
}
.nav-cart i {
  font-size: 35px;
}
.nav-cart {
  font-size: 0.85rem;
   font-weight: 700;
}
.panel {
  height:  40px;
  background-color: #222f3d;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-evenly ;
  
}
.panel-opt p {
  display: inline;
  margin-left: 15px;
}
.panel-opt {
  width: 70%;
  font-size: 0.85rem;
}
.panel-deals
{
  font-size: 0.9rem;
  font-weight: 700;
}
.hero-section
{
  background-image: url("amazonimage.jpg");
 background-size: cover;
 height: 300px;
 display: flex;
 justify-content: center;
 align-items: flex-end;

}
.hero-msg
{
  background-color: white;
  color: black ;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  width: 105%;
  margin-bottom: 25px;

}
.hero-msg a
{
 color: #007185;
}
/**shop**/

.shop-section
{
  display: flex;
  flex-wrap: wrap;
justify-content: space-evenly;
background-color: rgb(222, 218, 218);
}

.box {
      border: 2px solid black;
      height: 265px;
      width: 24%;
      padding: 5px 0px 15px;
      background-color: white;
      margin-top: 10px;
  }

.box-image
{
  height: 200px; 
background-size: cover;
margin-top: 1rem;
margin-bottom: .3rem ;
background-repeat: no-repeat;
border: solid rgb(0, 0, 0)

}
.box-content
{
  margin-left: 10px;
  margin-right: 10px;
  font-size: 10px;

}

.seemore
{
  font-size: 15px;
}
 
.box-content p {
  color: rgb(191, 115, 2);
  font-size: 15px;
}


.footer-panel1
{
  background-color: #6e84a0;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
   width: 100%;
   height: 30px;
}

.footer-panel2
{
  background-color: #222f3d;
  color: white;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
}
ul a {
  display: block;
  font-size: 0.8rem;
  margin-top: 10px;
  color: #dddd ;
}
ul {
  margin-top: 20px;
}
.panel-3
{
  background-color: #222f3d ;
  height: 70px;
  display: flex;
  justify-content: center;
  border-top: .5px solid white;
  align-items: center;
}

.logo2
{
background-image: url("amazon_logo.png");
background-size: cover;
height: 70%;
width: 80px;

}


.panel-4
{
  background-color: #10345b ;
  height: 80px;
  color: white;
  text-align: center
  }


.pages 
{ 

  padding-top: 25px;

}
.copyright
{ 
  padding-top: 5px;
}